<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <ul *ngFor="let heading of footerData">
      <li>{{ heading.heading }}</li>
      <p
        *ngFor="let subheading of heading.subHeading"
        [innerHtml]="subheading"
      ></p>
    </ul>

    <app-search-filter></app-search-filter>
    <app-hiring-section-carousel
      [cardImgeData]="cardImgeData"
    ></app-hiring-section-carousel>
  </body>
</html>
